body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f2f7ecff;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 2em;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding:20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 8px;
    margin: 20px;
    background: transparent;
    font-family: "Poppins", sans-serif;
}

.form a{
    text-align: center;
    color: grey;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #005900ff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #005900ff;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

input[type="submit"] {
    border: none;
    background-color: #005900ff;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}